@media screen and (min-width: 300px) {
  .all {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .btn {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .btn:hover {
    background-color: transparent;
    border-color: crimson;
    color: coral;
  }
  .btn-outline-warning {
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-color: transparent;
    width: fit-content;
    border-width: 2px;
    border-radius: 5px;
    color: coral;
    box-shadow: none;
  }
  .btn-outline-warning:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
  }
  .btn-outline-warning:focus {
    background-color: antiquewhite;
    border-color: crimson;
    box-shadow: none;
  }

  .offcanvas {
    z-index: 9999;
    width: fit-content;
  }

  .head {
    z-index: 9998;
    background-color: rgb(243, 232, 217);
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    position: sticky;
    top: 0px;
  }
  .canva img {
    width: 300px;
    height: 500px;
  }
  #login {
    display: none;
    flex-direction: row;
    width: 208px;
    justify-content: space-between;
  }
  #login1 {
    display: flex;
    flex-direction: row;
    width: 208px;
    justify-content: space-between;
  }

  .btn-danger {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    border-width: 2px;
    border-radius: 5px;
    background-color: #e45757;
    box-shadow: none;
  }
  .btn-danger:focus {
    background-color: #e45757;
    border-color: crimson;
  }
  .btn:hover {
    background-color: beige;
  }
  .btn-danger:not(:disabled, .disabled):active:focus {
    box-shadow: none;
  }
  .hed {
    color: #ca6868;
    font-weight: 670;
    font-family: Calibri;
  }
  #d1 {
    background-image: url('./971.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 55%;
  }
  #d2 {
    background-image: url('./pexels-photo-2115217.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 40%;
  }
  .footer {
    background-color: rgb(243, 232, 217);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    object-fit: contain;
  }
  .about {
    margin-top: 30px;
    margin-left: 5px;
    width: 220px;
    display: flex;
    flex-direction: column;
  }
  .elems {
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .bottom {
    background-color: rgb(168, 164, 164);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .middle {
    display: flex;
    flex-direction: column;
  }
  .cardd {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .card {
    height: 400px;
    margin: 15px;
    width: 325px;
    background-color: rgb(250, 246, 240);
    box-shadow: 0px 0px 20px 6px#f07d50;
    color: black;
    cursor: pointer;
  }
  .card:hover {
    border-color: #d34b4b;
    border-width: 4px;
  }
  .card img {
    height: 200px;
  }
  .cardss {
    background-image: url('./close-up-male-hands-using-laptop-home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 90px;
    padding-bottom: 80px;
  }
  .cardss h2,
  article {
    padding-left: 50px;
    padding-right: 50px;
  }
  .grid {
    display: flex;
    flex-direction: column;
    --bs-columns: 10;
    --bs-gap: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .grid img {
    width: 600px;
    height: 400px;
  }
  .cardtext {
    padding-top: 40px;
    padding-bottom: 40px;
    color: whitesmoke;
    background-color: #f3705f;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cardimg1 img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  .cardimg2 {
    display: none;
  }
  .cardimg3 img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}
@media screen and (min-width: 768px) {
  .all {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .btn {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .btn:hover {
    background-color: transparent;
    border-color: crimson;
    color: coral;
  }
  .btn-outline-warning {
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-color: transparent;
    width: 200px;
    border-width: 2px;
    border-radius: 5px;
    color: coral;
    box-shadow: none;
  }
  .btn-outline-warning:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
  }
  .btn-outline-warning:focus {
    background-color: antiquewhite;
    border-color: crimson;
    box-shadow: none;
  }

  .offcanvas {
    z-index: 9999;
    width: fit-content;
  }

  .head {
    z-index: 9998;
    background-color: rgb(243, 232, 217);
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    position: sticky;
    top: 0px;
  }
  .canva img {
    width: 300px;
    height: 500px;
  }
  #login1 {
    display: none;
    flex-direction: row;
    width: 208px;
    justify-content: space-between;
  }
  #login {
    display: flex;
    flex-direction: row;
    width: 208px;
    justify-content: space-between;
  }
  .btn-danger {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100px;
    border-width: 2px;
    border-radius: 5px;
    background-color: #e45757;
    box-shadow: none;
  }
  .btn-danger:focus {
    background-color: #e45757;
    border-color: crimson;
  }
  .btn:hover {
    background-color: beige;
  }
  .btn-danger:not(:disabled, .disabled):active:focus {
    box-shadow: none;
  }
  .hed {
    padding-left: 30px;
    color: #ca6868;
    font-weight: 670;
    font-family: Calibri;
  }
  #d1 {
    background-image: url('./971.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 55%;
  }
  #d2 {
    background-image: url('https://images.pexels.com/photos/2115217/pexels-photo-2115217.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 40%;
  }
  .footer {
    background-color: rgb(243, 232, 217);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .about {
    margin: 30px;
    width: 250px;
    display: flex;
    flex-direction: column;
  }
  .elems {
    cursor: pointer;
    width: 220px;
    display: flex;
    flex-direction: row;
  }
  .bottom {
    background-color: rgb(168, 164, 164);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .middle h2,
  article {
    padding-left: 0px;
  }
  .cardd {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .card {
    height: 400px;
    margin: 15px;
    width: 20%;
    background-color: rgb(250, 246, 240);
    box-shadow: 0px 0px 20px 6px#f07d50;
    color: black;
    cursor: pointer;
  }
  .card:hover {
    border-color: #d34b4b;
    border-width: 4px;
  }

  .card img {
    height: 200px;
  }
  .cardss {
    background-image: url('./close-up-male-hands-using-laptop-home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 90px;
    padding-bottom: 80px;
  }
  .card-body {
    padding: 5px;
  }
  .cardss h2,
  article {
    padding-left: 100px;
  }
  .grid {
    display: flex;
    flex-direction: row;
    --bs-columns: 10;
    --bs-gap: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .grid img {
    width: 600px;
    height: 400px;
  }
  .cardtext {
    height: 400px;
    color: whitesmoke;
    background-color: #f3705f;
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cardimg1 {
    display: none;
  }
  .cardimg2 {
    display: flex;
  }
  .cardimg2 img {
    width: 400px;
    object-fit: cover;
  }
  .cardimg3 img {
    width: 500px;
    object-fit: cover;
  }
}
@media screen and (min-width: 1000px) {
  .all {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .btn {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .btn:hover {
    background-color: transparent;
    border-color: crimson;
    color: coral;
  }
  .btn-outline-warning {
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-color: transparent;
    width: 200px;
    border-width: 2px;
    border-radius: 5px;
    color: coral;
    box-shadow: none;
  }
  .btn-outline-warning:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
  }
  .btn-outline-warning:focus {
    background-color: antiquewhite;
    border-color: crimson;
    box-shadow: none;
  }

  .offcanvas {
    z-index: 9999;
    width: fit-content;
  }

  .head {
    z-index: 9998;
    background-color: rgb(243, 232, 217);
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    position: sticky;
    top: 0px;
  }
  .canva img {
    width: 300px;
    height: 500px;
  }
  #login1 {
    display: none;
    flex-direction: row;
    width: 208px;
    justify-content: space-between;
  }
  #login {
    display: flex;
    flex-direction: row;
    width: 208px;
    justify-content: space-between;
  }
  .btn-danger {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100px;
    border-width: 2px;
    border-radius: 5px;
    background-color: #e45757;
    box-shadow: none;
  }
  .btn-danger:focus {
    background-color: #e45757;
    border-color: crimson;
  }
  .btn:hover {
    background-color: beige;
  }
  .btn-danger:not(:disabled, .disabled):active:focus {
    box-shadow: none;
  }
  .hed {
    padding-left: 30px;
    color: #ca6868;
    font-weight: 670;
    font-family: Calibri;
  }
  #d1 {
    background-image: url('./971.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 55%;
  }
  #d2 {
    background-image: url('https://images.pexels.com/photos/2115217/pexels-photo-2115217.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 40%;
  }
  .footer {
    background-color: rgb(243, 232, 217);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .about {
    margin: 30px;
    width: 250px;
    display: flex;
    flex-direction: column;
  }
  .elems {
    cursor: pointer;
    width: 220px;
    display: flex;
    flex-direction: row;
  }
  .bottom {
    background-color: rgb(168, 164, 164);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .cardd {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .card {
    height: 400px;
    margin: 15px;
    width: 20%;
    background-color: rgb(250, 246, 240);
    box-shadow: 0px 0px 20px 6px#f07d50;
    color: black;
    cursor: pointer;
  }
  .card:hover {
    border-color: #d34b4b;
    border-width: 4px;
  }
  .card img {
    height: 200px;
  }
  .cardss {
    background-image: url('./close-up-male-hands-using-laptop-home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 90px;
    padding-bottom: 80px;
  }
  .cardss h2,
  article {
    padding-left: 110px;
  }
  .grid {
    display: flex;
    flex-direction: row;
    --bs-columns: 10;
    --bs-gap: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .grid img {
    width: 600px;
    height: 400px;
  }
  .cardtext {
    color: whitesmoke;
    background-color: #f3705f;
    padding: 20px;
    padding-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cardimg1 {
    display: none;
  }
  .cardimg2 {
    display: flex;
  }
}
